@tailwind base;
@tailwind components;
@tailwind utilities;


/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');

/* homepage custom banner radius */
.homepage-banner{
  border-radius: 0 0 120px 0;
  width: 100%;
}


.forCorporate-banner{
  border-radius: 0 0 90px 0;
  width: 80%;
}

.background-overlay{
  position: absolute;
  z-index: 20;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%, rgba(47,48,146,1) 131237%);
  width: 100%;
  height: 100%;
  bottom: 0;
  border-radius: 0 0 120px 0;
}


.corporate-overlay{
  position: absolute;
  z-index: 20;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%, rgba(47,48,146,1) 131237%);
  width: 80%;
  height: 100%;
  bottom: 0;
  border-radius: 0 0 90px 0;
  
}

.bg-primary{
  background-color: #3BACB6;
}

.border-primary{
  border-color: #3BACB6;
}
.border-primary-1{
  border: 1px solid #3BACB6;
}

.border-primary-2{
border: 1px solid #F1935C}

.border-primary-3{
border: 1px solid #FF4E67
}

.bg-green-90{
  background-color: #23676D;
}

.bg-grey {
background-color: #F6FFFF

}

.color-primary{
  color: #3BACB6;
}

.color-red {
color : #FF4E67
}

.color-orange {
color : #F1935C}

.btn-active{
  background-color: rgb(204, 251, 241) !important;
}

.swiper-pagination-bullet{
  background-color: aliceblue !important;
}

.process-booking-wrapper :last-child>.icon-flow{
  display: none;
}

.item-booking-process img{
  background: #fff;
  border-radius: 15px;
  height: 90px;
  width: 90px;
  object-fit: contain;
}

.superscript {
  position: relative;
  top: -0.5em;
  font-size: 60%;
}

.horizontal-swiper-wrapper .swiper .swiper-wrapper{
  padding-top: 15px;
  padding-bottom: 15px;
}

.max-w-8xl {
  max-width: 85rem
}



/* testimonial-slider  */

.container-slider {
  height: 90.4vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #23676D;
}


.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  margin-bottom : 50px;
  overflow: hidden;



  
}
.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #3BACB6;
  

  
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}
.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .job {
  font-size: 14px;
  font-weight: 600;
  color: #FBDFCE;
  margin : 15px
}
.details .name {
  font-size: 20px;
  font-weight: 200;
  color: #FFFFFF;
  margin-top : 15px
}



/* swiper button css */

.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}
